<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3af0c872-7c0d-4541-be47-9082939ecf05/resourceGroups/rg-TP4-DevInfo/providers/Microsoft.ContainerRegistry/registries/acremploistp4</ResourceId>
    <ResourceName>acremploistp4</ResourceName>
    <ResourceGroup>rg-TP4-DevInfo</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://acremploistp4.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6dcc580a-d8d3-4fa3-b9b4-ed41347ae00c</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>