<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/895a2102-2115-4a32-a246-28ed3a253cb0/resourceGroups/rg-TP4-JG_NJ/providers/Microsoft.ContainerRegistry/registries/acrTP4jgnj</ResourceId>
    <ResourceName>acrTP4jgnj</ResourceName>
    <ResourceGroup>rg-TP4-JG_NJ</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://acrtp4jgnj.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6dcc580a-d8d3-4fa3-b9b4-ed41347ae00c</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>