<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funcapptp4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3af0c872-7c0d-4541-be47-9082939ecf05/resourceGroups/rg-TP4-DevInfo/providers/Microsoft.Web/sites/funcappTp4</ResourceId>
    <UserName>$funcappTp4</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funcapptp4.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>